 head
    meta charset='utf-8'
    meta (
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    )
    title
      - if @presenter.respond_to?(:title)
        = @presenter.title
      - elsif content_for?(:title)
        = safe_join([content_for(:title), t(:app_name)], ' – ')
      - else
        = t(:app_name)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application'
    = javascript_include_tag '//unpkg.com/alpinejs', defer: true
    = javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js'
    = javascript_include_tag 'https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js'
    link[
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?
      family=Montserrat:ital,wght@0,300;0,700;1,300;1,700&
      family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&
      family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&
      display=swap'
    ]
    javascript:
      document.addEventListener('alpine:init', () => {
        Alpine.store('sidebar_open', true)
      })
