doctype html
html.h-full lang='en'
  = render 'layouts/head'
  body.type-body-md.h-full
    main.flex.flex-col.h-full

      .w-full
        - if content_for(:title)
          .border-b.mb-2.py-4.px-5
            .flex.items-center.space-x-2.align-middle
              h1.type-headline-sm.text-primary-grey
                = content_for(:title_icon)
                = content_for(:title)
              - if content_for?(:title_extra)
                = content_for(:title_extra)
              - if content_for?(:title_actions)
                span.grow
                = content_for(:title_actions)
        - elsif @module_name.present?
          .border-b.mb-2.py-4.px-5
            = module_title(@module_name, @module_icon)

        .px-5.py-4
          = yield
